/*
Theme Name: Twenty Twenty CC22
Theme URI: http://yourdomain.com
Description: Modified Twenty Twenty for CC22
Theme Author: Nyx Nous
Author URI: https://nyx777.gitlab.io/cc22
Template: twentytwenty
Version: 1.0.0
Text Domain: twentytwenty-child
License: GNU General Public License or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/

body {
    background-color: #fff !important;
}

.header-inner, .header-titles-wrapper {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.nav-toggle {
    padding: 0px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.header-inner {
    padding: 0px !important;
    width: 100%;
}

.header-titles-wrapper {
    padding: 20px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

.header-titles-wrapper button.nav-toggle {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 40px !important;
}

.site-logo {
    margin: 0px !important;
    width: 100% !important;
}

.header-titles {
    margin: 10px 0px 20px 0px;
}

.header-navigation-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
}

.entry-header {
    padding: 1em 2em 2em 2em !important;
}

.entry-title {
    font-size: 4rem;
}

.entry-content {
    font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.event-details-table #register-button {
    width: 100%;
}

.event-details-table .center {
    text-align: center;
    /* vertical-align: baseline; */
}

.event-details-table tr td:nth-child(1) {
    min-width: 90px;
}

.event-details-table {
    font-weight: bold;
    max-width: 580px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 10px;
}

.post-inner {
    padding-top: 2em;
}

.sponsors a img {
    margin: 10px auto;
    width: 50% !important;
}

.sponsors td {
    padding: 20px;
}

a.anchor {
    color: inherit;
    text-decoration: inherit;
    padding-top: 10px;
}

a.anchor:focus{
    border-width: 0px;
}

h3 {
    text-align: center;
}

.indent {
    /* text-indent: 40pt !important; */
}

p {
    font-size: 2rem;
}

.sponsors td {
    text-indent: 40pt !important;
}

.footer-nav ul {
    list-style: disc;
}
